@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: rotation 2s infinite linear;
    
    }
  }
  @keyframes rotation{
    from {
      transform: rotate(0deg);
      opacity:.7;
    }
    to {
      transform: rotate(360deg);
      opacity:.3;
    }
  }

.right-side {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}